body.fullscreen {
  overflow: hidden; }
  body.fullscreen article {
    position: absolute;
    overflow: hidden;
    width: auto;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0; }
    body.fullscreen article .paperscript {
      height: 100%;
      margin-bottom: 0; }
    body.fullscreen article .canvas,
    body.fullscreen article canvas[resize] {
      width: 100%;
      height: 100%; }